<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About Our IT Consulting Services</h2>
        <h3 class="section-subheading text-muted">
          We specialize in providing top-tier IT consulting services, connecting
          businesses with highly skilled technology professionals for innovative
          solutions in software development, system architecture, and cloud
          services.
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img
                class="img-circle img-responsive"
                src="img/about/1.jpg"
                alt=""
              />
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">2019: Founding and Vision</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  In 2019, our journey began with a clear vision: to
                  revolutionize the IT consultancy landscape. Our founders,
                  seasoned experts in Agile development, Quality Assurance, and
                  DevOps processes, identified a gap in the market for a
                  consultancy that not only advised but also actively partnered
                  with clients to implement cutting-edge solutions. We started
                  as a small team in a modest office, but with a grand vision to
                  empower businesses with the latest in IT consulting.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img
                class="img-circle img-responsive"
                src="img/about/2.jpg"
                alt=""
              />
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">
                  2020: Expansion into Sales and Lead Generation
                </h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  By 2020, we had established ourselves as leaders in Agile and
                  DevOps consulting. Recognizing the evolving needs of our
                  clients, we expanded our expertise into Sales and Lead
                  Generation processes. This strategic move not only broadened
                  our service portfolio but also allowed us to offer a more
                  holistic approach to IT consultancy. Our unique methodology in
                  integrating sales processes with technical workflows quickly
                  set us apart in the industry, leading to a significant
                  increase in both client base and reputation.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img
                class="img-circle img-responsive"
                src="img/about/3.jpg"
                alt=""
              />
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">2021: Project Management Solutions</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  In 2021, we marked a significant milestone by successfully
                  consulting and implementing processes for companies engaged in
                  HIPAA-compliant and FDA-approved projects. Our tailored
                  approach in Project Management for these highly regulated
                  sectors was met with acclaim, as we navigated the complex
                  compliance requirements with precision and expertise. This
                  achievement not only showcased our capability to handle
                  projects with stringent regulatory demands but also solidified
                  our reputation as a versatile and reliable IT consultancy
                  firm. Our success in this arena attracted partnerships with
                  leading healthcare and pharmaceutical companies, further
                  diversifying our portfolio and expertise.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Be Part <br />Of Our <br />Story!</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
